*{
    margin: 0;padding: 0;
}
a{
    color: orange;
}
  /*header부분*/
.header{/**/
    color: white;
    background-color: rgb(57, 4, 97);
    display: flex;
    justify-content: space-between;
    height: 120px;
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 100;
    width: auto;/**/
}
.headleft{
    width: 100px;height: 100px;
    text-align: center;
    line-height: 110px;
    font-size: x-large; font-weight: bold;
    left: 50px;
    position: relative;
}
.headright{
    display: flex;
    right: 50px;
    position: relative;
    
}
.headright ul{
    display: none;
}
.headright ul li{
    width: 100px; height: 100px; 
    list-style: none;
    
}
.headright ul li:last-child{
    left: 30px;
    position: relative;
}
.headright ul li a{
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    line-height: 80px;
}
.menu-icon {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 70px;
    cursor: pointer;
    position: relative;
    margin:auto;
    right: -100px; 
  }
  
.menu-icon span {
    width: 100%;
    height: 5px;
    background-color: orange;
    margin: 2px 0;
  }
  .menu-list {
    /* background-color: aliceblue; */
    display: none; /* 초기에는 숨겨진 상태로 설정 */
    position: relative;
    height: 40px;
    top: 80px;
  }
  .menu-list li{ /*.menu-list li*/
    position: relative;
    /*background-color: aliceblue;*/
    list-style: none;
    float: right;
    margin-right: 10px;
    font-weight: bold;
  }
  .menu-list li a{
    font-size: 15px;
    text-decoration: none;
  }
  
/*main*/
.main{
    /*border: 3px solid black;*/
    top: 90px;
    position: relative;
    width: auto;/*100%*/
    height: 1380px;
    margin: 0 auto;
    background-color: antiquewhite;
    margin-top: -20px;
}
/*.main h1.title{
    border: 3px solid black;
    position: relative;
    text-align: center;
    top: 60px;
    width: 220px;
    margin: 0 auto;
    
}*/
.main .main1{
    /*border: 3px solid black;*/
    height: 570px;
    width: auto;
    margin: 0 auto;
}
.main1{
    top: 90px;
    position: relative;
}
.main .main1 img{ 
    width: 200px; height: 200px;  
    position: absolute;
    top: 50%;left: 50%;
    margin-left: -100px;margin-top: -250px;
    border-radius: 20% 40%;
    border: 3px solid black;
    
}
.main .main1 .introduce{
    
    width: auto;/*100%*/
    position: absolute;
    height: 400px;
    /*
    margin: 0 auto;
    top: 300px;*/
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -30px;
    font-size: 18px;
    font-weight: 700;
    overflow-y: scroll;
}
.main .main1 .introduce h1{
    text-align: center;
}

/*밑에 글쓰기*/
.main .introduce2{
    width: auto;/*100%*/
    position: relative;
    height: auto;
    top: 200px;
    margin: 0 auto;
    /*border: 3px solid black;*/
    font-weight: 700;
    font-size: 18px;
}
.main .button{
    width: 150px;
    height: 50px;
    background-color: black;
    margin: 0 auto;
    top: 240px;
    position:relative;
    text-align: center;
    line-height: 50px;
    border: 7px solid orange;
    border-radius: 20px;
    font-weight: bold;
}
.main .button a{
    color: white;
    text-decoration: none;
}

/*두번째 페이지*/
.page2{
    width: auto;/*100%*/
    height: 1100px;
    position: relative;
    margin: 0 auto;
    /*border: 3px solid black;*/
    margin-top: 90px;
    background-color: antiquewhite;
}
.page2 .pers{

    top: 120px;
    /*border: 3px solid black;*/
    width: auto;/*100%*/
    height: 685px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-bottom: none;
}
.page2 .pers .good{
    border: 3px solid blue;
    height:auto;
    width: auto;/*400px*/

    position: absolute;
    text-align: center;
    border-radius: 30px;
}

.page2 .pers .good p{
    margin-top: 20px;
    font-weight: 700;
}
.page2 .pers .bad{
    border: 3px solid blue;
    height: auto;
    float: left;
    width: auto;
    top: 400px;
    position: absolute;
    text-align: center;
    border-radius: 20px;
    
}

.page2 .pers .bad p{
    margin-top: 20px;
    font-weight: 700;
}
.page2 .pers2{
    border-top: none;
    /*border: 3px solid black;*/
    top:130px;
    width: auto;/**/
    height: 350px;
    margin: 0 auto;
    position: relative;
    
}
.page2 .pers2 .content{
    width: auto;/**/
    height: auto;
    border: 3px solid green;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
}
.page2 .pers2 .content p{
    margin-top: 20px;
    font-weight: 700;
 
}


/*세번째 페이지*/
.page3{
    width: auto;/**/
    height: 1500px;
    background-color: antiquewhite;
    color: black;
    padding-top: 50px;
}
.page3 p{
    font-size: 17px;
    font-weight: bold;
}
.page3 .box{margin-top: 10px;
    margin-bottom: 10px;
    top: 200px;
    position: relative;
    /*border: 3px solid black;*/
    overflow-y: scroll;
    width: auto;/**/
    height: 1300px;
    margin: 0 auto;
    margin-bottom: 20px;
    
}
.page3 .health{
    width: auto;
    height: auto;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border: 3px solid black;
    margin-top: 10px;
    border-radius: 25px 25px 0 0;
}
.page3 .health h2{
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
}
.page3 .first_section{
    top: 30px;
    width: auto;
    height: auto;
    margin: 0 auto;
    position: relative;
    border: 3px solid black;
    margin-top: 10px;
    border-radius: 25px;
}

.page3 .first_section h2{
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
}
.page3 .second_section{
    width: auto;
    height: auto;
    margin: 0 auto;
    top: 50px;
    position: relative;
    border: 3px solid black;
    border-radius: 25px 25px;
}
.page3 .second_section h2{
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
}
.page3 .third_section{
    width: auto;
    height: auto;
    margin: 0 auto;
    top: 70px;
    position: relative;
    border: 3px solid black;
    border-radius: 0 0 25px 25px;
    
}

.page3 .third_section h2{
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
}
/*footer*/
.footer{
    background-color: black;
    bottom: 0;left: 0;right: 0;
    width: 100%;
    height: 60px;
    /*position: fixed;*/
    
}
.footer .content{
    width: 100%; height: 70px;
    color: white;
    margin: 0 auto;
    display: flex;
}
.footer .content p{
    /*font-weight: bold;*/
    font-size: 10px;
    width: 100%;
    text-align: center;
    position: relative;
    line-height: 60px;
}
